.row
  .col
    %form{action: action_path, method: 'GET'}
      .form-group.row
        %label.col-sm-1.col-form-label{for: 'order_by'}= t('documents.index.order_by.label')
        .col-sm-3
          %select.form-control{id: 'order_by', name: 'order_by'}
            - Document.ordered_choices.each_key do |value|
              %option{value: value, selected: sort_selected?(value)}= t('documents.index.order_by.' + value.to_s)
        %label.col-sm-2.col-form-label{for: 'order_by'}= t('documents.index.tags.label')
        .col-md-3.col-sm-3.col-lg-4
          %select.form-control.tags-select2{id: 'tag_ids', name: 'tag_ids[]', multiple: 'multiple'}
            - Tag.all.each do |tag|
              %option{value: tag.id, selected: tag_selected?(tag) }= h(tag.name)
        = hidden_field_tag('q', params[:q])
        .col-sm-1
          %input.btn.btn-outline-secondary{type: 'submit', value: t('documents.index.order_by.submit')}