= simple_form_for @document, url: document_index_path, method: :post, html: {class: 'row'} do |f|
  .col-6.form-group
    = f.input :title
    .row
      .col-8
        = f.input :author
      .col-4
        = f.input :number_of_pages, input_html: {class: 'form-control-range', type: 'range'}
    = f.input :doc_asset
  .col-6
    = f.input :description

    = f.input :realized_at
    = f.association :tags, input_html: {class: 'tags-select2'}
    = f.submit class: 'btn btn-success'