%h1
  = t('documents.index.title')
= render 'search_form'
.row
  .col
    %form{action: root_path, method: 'GET'}
      .form-group.row
        %label.col-sm-1.col-form-label{for: 'order_by'}= t('documents.index.order_by.label')
        .col-sm-3
          %select.form-control{id: 'order_by', name: 'order_by'}
            - Document.ordered_choices.each_pair do |value, text|
              %option{value: value, selected: sort_selected?(value)}= text.last
        %label.col-sm-2.col-form-label{for: 'order_by'}= t('documents.index.tags.label')
        .col-md-3.col-sm-3.col-lg-4
          %select.form-control.tags-select2{id: 'tag_ids', name: 'tag_ids[]', multiple: 'multiple'}
            - Tag.all.each do |tag|
              %option{value: tag.id, selected: tag_selected?(tag) }= h(tag.name)
        .col-sm-1
          %input.btn.btn-outline-secondary{type: 'submit', value: t('documents.index.order_by.submit')}
%hr
= prev_next_pagination(@documents)
.row
  %p= t('documents.index.empty') if @documents.empty?
  %ul.row.list-unstyled
    - @documents.each do |doc|
      %li.col-lg-6.col-xl-4.border
        %h4
          = link_to doc.title, document_path(doc)
          |
          = document_download_icon(doc)
        .row
          .col-sm-4.col-md-3
            = link_to image_tag(preview_document(doc.doc_asset), class: 'img-thumbnail'), document_path(doc)
          .col-sm-8.col-md-9
            %p
              = doc.description .truncate(120, separator: ' ') || t('documents.no_description')
            %h5= tags_to_badges(doc)
= prev_next_pagination(@documents)
