%h3= t('documents.index.title')
%hr
%p= t('documents.index.empty') unless @documents.any?
= prev_next_pagination(@documents)
.row
  %ul.list-group.row
    - @documents.each do |doc|
      .list-group-item.col-lg-4.col-sm-6
        %h4= link_to doc.title, document_path(doc)
        .row
          .col-sm-4.col-md-3
            = link_to image_tag(preview_document(doc.doc_asset), class: 'img-thumbnail wrapped'), document_path(doc)
          .col-sm-8.col-md-9
            %p
              = doc.description.truncate(120, separator: ' ')
= prev_next_pagination(@documents)