!!!
%html{lang: I18n.default_locale}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1'}
    %title= t('application.title')
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    .container
      - if current_user
        .row
          .col
            %nav.navbar.navbar-dark.navbar-expand-md.bg-dark
              %a.navbar-brand{href: root_path}
                %i.glyphicon.glyphicon-home
              %ul.navbar-nav
                %li.nav-item
                  = btn_link(t('application.upload_document'), new_document_path, type: 'success', icon: 'plus', outline: false)
              %ul.navbar-nav.ml-auto
                %li.nav-item{class: current_page?(document_user_path(current_user)) ? 'active' : ''}
                  = link_to t('nav.my_documents'), document_user_path(current_user), class: 'nav-link'
                %li.nav-item
                  = link_to(('<i class="glyphicon glyphicon-log-out"></i>' + t('nav.logout')).html_safe, destroy_user_session_path, method: :delete, class: 'btn btn-outline-danger')
      - if current_user.nil?
        .row.my-1
          .col.center-block.text-center
            = btn_link(t('application.upload_document'), new_document_path, type: 'success', icon: 'plus')
      .row
        .col-md-12
          -flash.each do |msg_type, msg|
            %div{class: "alert alert-#{bootstrap_alert(msg_type)} alert-dismissible", role: "alert"}
              = msg
              %button.close{type: 'button', 'data-dismiss' => 'alert', 'aria-label' => t('flash.close')}
                %span{'aria-hidden' => 'true'}
                  &times;
      .row
        .col-md-12
          = yield
      .row
        .col
          %footer.text-right
            - if current_user.nil? and not controller_name == 'sessions'
              = btn_link(t('application.login'), new_user_session_path, type: 'secondary', icon: 'signin', outline: true)
